.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-left: 0px;
    align-items: center;
    margin-top: -39px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.links{
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
}
.navitem>ul{
    display: flex;
    gap: 20px;
}
li button{
    width: 150px;
    height: 40px;
    display: block;
    margin: 1rem auto;
    border-radius: 5px;
    background: transparent;
    border: solid #F857A6 4px;
    color: #FF5858;
    margin-left: 6px;
    margin-top: 30px;
}
.banner>div {
    background-image: url(images/background.png);
    width: 100%;
    height: 600px;
    border-radius: 30px;
    margin-top: -30px;
    background-repeat: no-repeat;
    background-position: center;
}
.content{
    align-items: start;
}
.content>h2 {
    font-size: 48px;
    color: #f4f1f7;
    margin-top: 80px;
    margin-left: 80px;
}
.content>p {
    font-size: 22px;
    color: white;
    margin-top: -30px;
    margin-left: 80px;
}
.content>button {
    background-color: #F857A6;
    color: #fff;
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
    width: 200px;
    margin-top: -10px;
    margin-left: 80px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.image {
    background-image: url(images/background.png);
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}